@import "bootstrap/dist/css/bootstrap.min.css";

body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
background: #0f8a5f; 
}
.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 200px;
    height: 300px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
    padding: 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 3rem;
    color: black;
}
.suit {
    font-size: 2rem;
}
.suit.top {
text-align: left;
}
.suit.bottom {
    text-align: right;
    transform: rotate(180deg);
}
.value {
    font-size: 4rem;
    font-weight: bold;
}
.card.red {
    color: red;
}